html, body{
    min-height: 100%;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

text {
    font-size: 14px;
}

svg{
    background-color: whitesmoke;
    display: block;
    margin: 0 auto;
    max-width: 90%;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

#description {
    text-align: center;
    margin-bottom: 20px;
    color: #666;
    font-size: 18px;
}

#canvas {
    min-width: 1000px;
    min-height: 600px;
}

#legend {
    min-height: 300px;
}

.legend-item {
    stroke: #333;
    stroke-width: 1px;
}

#tooltip {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
    pointer-events: none;
}